* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
}

body{
    background-color: #66c1fa;
}

/* Cabeçalho */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    padding: 0 400px;
}

.logo-wrapper {
    display: flex;
    align-items: center;
}

.navbar {
    display: inline;
}

.navbar-items {
    display: flex;
    list-style: none;
}

.navbar-item a {
    text-decoration: none;
    color: #111;
    text-shadow: 0.1em 0.1em 0.2em black;
}

.navbar-item {
    font-weight: 500;
    font-size: 24px;
}

/* Home */

h2 {
    margin-bottom: 10px;
    text-align: center;
    font-size: 2rem;
}

nav a {
    text-decoration: none;
    color: #222222;
    padding: 0 1.5rem;
}

nav a:hover {
    color: #fff;
    transition: 0.3s;
}

/* Formulário */

form {
    display: flex;
    align-self: center;
    height: 95vh;
    background-color: #222222;
    color: #fff;
    padding: 8vh 30vw;
}

input,select,textarea {
    width: 40vw;
    display: block;
    padding: 0.5rem 0.75rem;
    border-radius: 10px;
}

/* Sessão de Sobre */

.sobre {
    display: flex;
    align-items: center;
    background-color: #73c5f8;
}

.sobre-title {
    display: flex;
}

.sobre-info {
    display: flexbox;
    font-weight: 700;
    font-size: 52px;
    color: #464646;
    margin: 10px 24px 10px 24px;
    margin-bottom: 24px;
}

.sobre-desc {
    display: flexbox;
    font-weight: 400;
    font-size: 22px;
    color: #464646;
    margin-bottom: 26px;
}

.sobre-links {
    display: flex;
    list-style: none;
    flex-wrap: wrap;

}

.sobre-link {
    font-weight: 500;
    font-size: 16px;
}

.sobre-link a {
    color: #464646;
    text-decoration: none;
}

.arrow {
    width: 16px;
    height: 16px;
    margin-left: 5px;
    margin-bottom: -3px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 95vh;
    padding: 3rem 15vw;
}

.column-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #222222;
    padding: 0rem 2rem;
}

.column-left h1 {
    margin-bottom: 1rem;
    font-size: 3rem;
}

.column-left p {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    line-height: 1.5;
}

.column-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

#home-image {
    width: 50%;
    height: 50%;
}

#form-button{
    margin-top: 30px;
    padding: 1rem 3rem;
    font-size: 1rem;
    border: none;
    color: #222222;
    background: #fdcc04;
    cursor: pointer;
    border-radius: 50px;
    text-decoration: none;
}

#form-button:hover {
    background: #fff;
    color: #222222;
    transition: 0.3s;
}

#CTA-button {
    padding: 1rem 3rem;
    font-size: 1rem;
    border: none;
    color: #66c1fa;
    background: #222222;
    cursor: pointer;
    border-radius: 50px;
    text-decoration: none;
}

#CTA-button:hover {
    background: #fff;
    color: #222222;
    transition: 0.3s;
}

#home {
    background: #66c1fa;
}

/* Footer Section */
.footer-section {
    padding: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #73c5f8;
}

.footer-name,.footer-year {
    font-size: 16px;
    font-weight: 400;
    color: #000000;
} 
